.banner {
  background-image: url("../../images/shoes\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #EDE1D1;
}

.banner>h1 {
  margin: 5vmax;
  font: 500 6vmax "Roboto";
  text-shadow: 2px 2px 8px #000000;
}
.banner>h1>span {
  color: #7A4621;
}
.banner>p {
  font: 400 5vmax "Lucida Sans";
  text-shadow: 2px 2px 8px #000000;
}
.banner>p>span {
  color: #864D25;
}

.banner>a>button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: #7A4621;
  border: 1px solid #412E27;
  border-radius: 15px;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 600 1vmax "Roboto";
  color: #EDE1D1;
}

.banner>a>button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #864D25;
  font: 600 1vmax "Roboto";
  border: 2px solid #864D25;
}

.banner::before {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #EBE6DF;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 80%, 50% 100%, 100% 100%);
  max-width: 100%;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #EBE6DF;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(0 20%, 50% 0, 0 0);
  max-width: 100%;
}


.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: #412E27;
}

.toProductsBtn{
  width: 200px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: #864D25;
  font: 500 0.9vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin-top: 1vmax;
  margin-left: calc(50% - (100px));
  outline: none;
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 60vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%; 
}

.productCard {
  width: 200px;
  height: 300px; 
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #412E27;
  margin: 20px;
  transition: all 0.5s;
  padding: 10px;
  background-color: rgb(255, 255, 255); 
  border: 1px solid #DDC5A7; 
}

.productCard .imageContainer {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.productCard .imageContainer img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
 
}

.productCard>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard>p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard>span {
  margin: 0.5vmax;
  color: #864D25;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px #7A4621;
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard>p {
    font-size: 1.7vmax;
  }

  .productCard>div {
    margin: 0vmax;
    display: block;
  }

  .productCard>span {
    font-size: 1.5vmax;
  }

  .productCard>div>span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}