/* Assuming you have a parent container that wraps the entire screen */
.loaderContainer {
  background-color: #CFBBA9;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Set the container height to the full viewport height */
}

/* Style for the image */
.loaderContainer img {
  width:500px;
  border-radius: 15px;
background: linear-gradient(145deg, #baa898, #ddc8b5);
box-shadow:  20px 20px 60px #b09f90,
             -20px -20px 60px #eed7c2;
}
