.contactContainer {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: fixed;
}

.contactContainer>h1 {
  margin-top: 8vmax;
}

.contactContainer>p {
  margin-top: 3vmax;
  padding: 0 10vmax;
  font-size: larger;
  font-weight: 300;
}

.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn>button {
  margin-top: 1vmax;
  color: aliceblue;
  border: 1px solid #C06F35;
  border-radius: 15px;
  background-color: #C06F35;
  font: 200 2vmax "Roboto";
  cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
  padding: 1vmax;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}