.searchBarBox {
  width: 50vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 22px;
  left: 25%;
  z-index: 9;
}

.searchBarBox>input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  border-radius: 15px 0px 0px 15px;
  font: 300 1.1vmax cursive;
  box-sizing: border-box;
  height: 100%;
}

.searchBarBox>input[type="submit"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: #864D25;
  border: none;
  color: #EDE1D1;
  padding: 1vmax 2vmax;
  width: 15%;
  outline: none;
  border-radius: 0px 15px 15px 0px;
  font: 300 1.1vmax cursive;
  box-sizing: border-box;
  height: 100%;
}

.searchBarBox>input[type="submit"]:hover {
  background-color: rgb(55, 97, 214);
}

@media screen and (max-width: 600px) {
  .searchBarBox>input[type="text"] {
    width: 100%;
    font: 300 3vw cursive;
    height: 10%;
  }

  .searchBarBox>input[type="submit"] {
    height: 10%;
    padding-left: 15px;
    width: 30%;
    font: 300 3vw "Roboto";
  }
}